.what {
    background-color:#1a1a1a;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;

        .what__title {
        font-size: 30px;
        color: #f1f1f1;
        align-self: center;
        padding: 50px 0 50px 0 ;
        }
    
     .what__content {
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         flex-wrap: wrap;
         color: #fafafa;

        .mobile {
            display: flex;
            width: 400px;
                .descript {
                    display: flex;
                    flex-direction: column;
                    padding-left: 40px;
                    .descript__title {
                        padding-bottom: 15px;
                        .descript__paragh {
                            color: #525252;
                            font-size: large;
                        }
                    }
                   
                }
        }

            .templates {
                @extend .mobile ; }

                .design {
                    @extend .mobile ;}    

     }   


}


img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}