* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    width: 100%;
    margin: auto;
}


@import "_header.scss" ;

@import"_what.scss" ;

@import"_about.scss" ;

@import"_gallery.scss" ;
 
@import"_contact.scss" ;


